body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #ece7e1;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
}

.error {
  color: black;
}

/* home page  */

.link {
  color: black;
  text-decoration: none;
  padding: 0 2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  font-weight: 400;
}

.homeBlock {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 50px;
}

.homeBlock > h1 {
  margin: 0;
  letter-spacing: 10px;
  padding: 0 0 0 5%;
}

.homeBlock > h2 {
  font-size: 40px;
  font-weight: 100;
  padding: 2% 6%;
}

.socialButton {
  background-color: #ece7e1;
  border: 1px solid black;
  color: black;
  padding: 14px 32px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 1%;
  letter-spacing: 5px;
  text-decoration: none;
  width: 200px;
}

.socialButton:hover {
  background-color: black;
  color: #ece7e1;
}

#email {
  color: black;
  padding: 14px 32px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 1%;
  letter-spacing: 5px;
}

.contact {
  text-align: center;
  width: 100%;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 200;
  margin: 3% 0 1% 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

/* about page  */

.about {
  padding-left: 32px;
  margin-bottom: 3%;
}

.aboutContainer {
  display: flex;
}

.flexAbout {
  padding-left: 2%;
  width: 60%;
}

.michelleImg {
  width: 100%;
  height: 650px;
  object-fit: cover;
  transition: all 1s;
  max-width: 600px;
}

.michelleImg:hover {
  transform: scale(1.1);
}

.aboutHeader {
  font-weight: 200;
  font-size: 4.5em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: black;
  margin: 2% 2% 1% 2%;
}

.aboutText {
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  line-height: 1.4em;
  width: 925px;
  display: flex;
}

.text1 {
  padding-right: 40px;
}

/* portfolio page */

.portfolio {
  width: 100%;
  margin: 4% 0 3% 0;
}

.portfolioProjects {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}

.projectRole {
  width: 20%;
}

.projectCard {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 600px;
  object-fit: fill;
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: black;
  /* padding: 16px; */
}

.project_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  backdrop-filter: blur(5px);
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}

.image_title {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.image_description {
  font-size: 1.4em;
  margin-top: 0.1em;
}

/* project page  */

.singleProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectPage {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 5%;
}

.singleProject_info {
  display: flex;
  width: 600px;
  margin: 2% 4%;
}

.project-details {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 60px;
}

.project-title {
  font-weight: 200;
  font-size: 4.5em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: black;
  padding-left: 60px;
}

.project-details > p {
  padding-right: 2%;
}

.projectOverview {
  width: 60%;
}

.projectText {
  font-weight: 200;
  color: black;
  line-height: 1.4em;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.projectTitle {
  padding-right: 16px;
  font-size: 3rem;
}

.project-details p,
h2 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.4;
}

.bold {
  font-weight: 500;
}

.projectLink {
  background-color: #ece7e1;
  border: 1px solid black;
  color: black;
  padding: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 3%;
  letter-spacing: 5px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.projectLink:hover {
  background-color: black;
  color: #ece7e1;
}

.project-images {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

/* nav bar  */

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
}

.navLeft {
  letter-spacing: 0.3rem;
}

.navRight {
  display: flex;
  letter-spacing: 0.3rem;
}
/* responsive web  */

/* mobile */
@media screen and (max-width: 480px) {
  * {
    width: 100vw;
  }

  .about {
    padding: 32px 16px;
    max-width: 400px;
  }

  .aboutHeader {
    font-size: 2.5em;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
  }

  .aboutText {
    display: flex;
    flex-direction: column;
  }

  .text1 {
    width: 330px;
    padding: 16px 0 16px 0;
  }

  .text2 {
    width: 330px;
    padding: 16px 0 16px 0;
  }

  .project-title {
    font-size: 1.3em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 300px;
    padding-top: 70px;
    padding-left: 16px;
  }

  .image_description {
    font-size: 1.2em;
  }

  .image_title {
    font-size: 1.5em;
  }

  .project-images {
    width: 330px;
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .link {
    font-size: 0.9rem;
    padding: 16px;
    width: 100px;
  }

  #email {
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  .projectCard {
    width: 350px;
    height: 450px;
    padding-top: 16px;
  }

  .projectLink {
    font-size: 1rem;
    line-height: 1.4;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    padding: 0 24px;
    margin: 24px 0;
  }

  .michelleImg {
    width: 100%;
    height: 20%;
    object-fit: cover;
    transition: all 1s;
    max-width: 600px;
  }
  .project-details {
    margin: 0;
    flex-direction: column;
  }

  .project-details p,
  h2 {
    margin: 0;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .projectText {
    width: 90%;
  }

  .navLeft {
    width: 65vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .projectPage {
    width: 100%;
    justify-content: center;
  }
  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* nav */
  .navigation {
    display: flex;
  }

  .navRight,
  .navLeft {
    font-size: 0.7em;
  }

  .text2 {
    mix-blend-mode: difference;
  }

  .link {
    padding: 0 20px;
  }

  .homeAbout {
    margin: 16px;
  }

  .projectOverview {
    width: 100%;
  }

  .projectRole {
    width: 100%;
  }
  /* about page */
  .aboutHeader {
    font-size: 2.5em;
    margin: 16px;
  }

  .aboutContainer {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .aboutText {
    width: 100%;
    flex-direction: column;
  }

  .michelleImg {
    padding: 16px;
    height: 400px;
    width: auto;
  }

  .flexAbout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
  }

  .michelleImgContainer {
    flex: 1;
    padding-left: 16px;
    z-index: 0;
  }

  /* porfolio page */
  .portfolioProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* max-width: 450px; */
  }

  .project {
    width: 100%;
    height: 400px;
    padding: 0;
  }

  .projectCard {
    width: 600px;
    height: 750px;
  }

  .projectPage {
    margin-top: 8%;
    margin-bottom: 5%;
  }

  .project-title {
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .project-images {
    width: 600px;
  }

  .projectTitle {
    padding-right: 16px;
    font-size: 1.5rem;
  }

  .project-details p,
  h2 {
    margin: 0;
    padding-bottom: 8px;
    font-size: 1rem;
    line-height: 1.4;
  }

  .project-title {
    font-size: 2em;
    margin: 2% 0;
  }

  .project-details {
    margin: 10px 20px;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 24px;
    margin: 24px 0;
  }

  .aboutText {
    width: 100%;
    flex-direction: column;
  }

  .text2 {
    padding-top: 24px;
  }

  #email {
    font-size: small;
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .projectLink {
    margin-bottom: 100px;
  }
}

/* Small Laptops/Large Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .projectCard {
    padding: 16px;
  }

  .aboutText {
    width: 90vw;
  }

  .project-title {
    /* padding-top: 60px; */
    padding: 32px;
    font-size: 2em;
  }

  .projectRole {
    width: 30%;
  }

  .project-details {
    margin: 10px 32px;
    flex-direction: row;
    justify-content: space-between;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
  }

  .projectLink {
    margin-bottom: 300px;
  }
}

/* desktops */
@media screen and (min-width: 1025px) {
  .aboutText {
    width: 100%;
    flex-direction: column;
  }

  .text2 {
    padding-top: 24px;
  }

  .project-title {
    padding-left: 32px;
    font-size: 2.5em;
  }

  .project-details {
    margin: 10px 32px;
    flex-direction: row;
    justify-content: space-between;
  }

  .projectRole {
    width: 30%;
  }
}

/* @media screen and (min-width: 1281px) {
  .app {
    width: 1281px;
  }
} */

@media screen and (min-width: 1281px) {
  .app {
    width: 1280px;
  }
}
