body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: var(--deepBlue)
}

:root {
    --deepBlue: rgb(4, 79, 98);
}

/* home page  */
.backgroundImg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.link {
    color: black;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 100;
}

.link:hover,
.linkWhite:hover {
    font-weight: 400;
}

.linkWhite {
    color: antiquewhite;
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 100;
}


/* animated text  */

.animationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.animateText {
    font-weight: 200;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 80%;

}

.animateText .letter {
    display: inline-block;
    line-height: 1em;
}

.noWrap {
    white-space: nowrap;
}

/* footer  */

.footer {
    position: fixed;
    text-align: center;
    line-height: 0.5;
    bottom: 0;
    left: 0;
    width: 100%;
    color: antiquewhite;
    border-top: .5px solid antiquewhite;
    letter-spacing: .3rem;
    font-weight: 200;
}

.footerColor {
    text-align: center;
    line-height: 0.5;
    bottom: 0;
    left: 0;
    width: 100%;
    color: antiquewhite;
    border-top: .5px solid antiquewhite;
    letter-spacing: .3rem;
    background-color: rgb(4, 79, 98);
    font-weight: 200;
}

.socialIcons {
    padding-bottom: 1%;
}

.icon {
    font-size: 28px;
}

/* about page  */

.aboutContainer {
    display: flex;
}

.flexAbout {
    padding-left: 2%;
    width: 60%
}

.michelleImg {
    width: 100%;
    height: 650px;
    object-fit: cover;
    transition: all 1s;
    max-width: 600px;
}

.michelleImg:hover {
    transform: scale(1.1);
}

.aboutHeader {
    font-weight: 200;
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: antiquewhite;
    margin: 2% 2% 0 2%;
}

.aboutText {
    /* width: 80%; */
    font-size: 1.5rem;
    font-weight: 200;
    color: antiquewhite;
    line-height: 1.4em;
}

.icon {
    color: antiquewhite;
    padding: 0 8px 0 0;
}

/* portfolio page */

.portfolio {
    width: 100%;
}

.portfolioProjects {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(4, 79, 98);
    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
}

.projectCard {
    position: relative;
    width: 450px;
    height: 600px;
    object-fit: fill;
    border-right: 1px solid antiquewhite;
    border-left: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    padding: 4%;
}

.project_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}

.image_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover>* {
    transform: translateY(0);
}

.image_title {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}

.image_description {
    font-size: 1.4em;
    margin-top: 0.1em;
}

/* project page  */

.projectPage {
    color: antiquewhite;
    text-align: center;
}

.singleProject_images {
    width: 400px;
    height: auto;
}

.singleProject_info {
    display: flex;
    margin: 2% 4%;
}

.singleProject_header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1%;
}

/* nav bar  */

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid black;
}

.navWhite {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid antiquewhite;
}

.navLeft {
    padding: 0 1rem;
    letter-spacing: .3rem;
}

.navRight {
    display: flex;
    letter-spacing: .3rem;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;
}

.toggle-button .bar {
    height: 1px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



/* responsive web  */

@media screen and (max-width: 480px) {



    /* nav */
    .backgroundImg {
        width: 100%;
        object-fit: cover;
    }

    .toggle-button {
        display: flex;
    }


    .navRight {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(4, 79, 98);
        position: absolute;
        top: 1%;
        border: 1px solid antiquewhite;
        z-index: 2000;
        color: antiquewhite
    }

    .navRight.active {
        display: block;
    }

    h1 .navRight.active {
        color: antiquewhite
    }

    .link {
        font-size: large;
    }

    .linkWhite {
        font-size: large;
        color: antiquewhite
    }

    .barWhite.bar {
        height: 1px;
        width: 100%;
        background-color: antiquewhite;
        border-radius: 10px;
    }

    /* .open {
        background-color: rgb(4, 79, 98);
    } */

    /* home */

    .animateText {
        font-size: 1.5em;
        max-width: 270px;
    }

    /* Footer */

    .footer_email {
        font-size: .75em
    }

    .icon {
        font-size: 24px;
    }

    .socialIcons {
        padding-bottom: 2%
    }

    /* about page */
    .aboutHeader {
        font-size: 2.5em;
        margin: 16px;
    }


    .aboutContainer {
        margin: 16px;
        display: flex;
        flex-wrap: wrap;
    }

    .michelleImg {
        padding: 16px;
        height: 400px;
        width: auto;
    }


    .flexAbout {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        /* Align items at the top */
    }

    .michelleImgContainer {
        flex: 1;
        /* Allow image container to grow and take available space */
        padding-left: 16px;
        /* Add some spacing between text and image */
        z-index: 0;
    }

    /* porfolio page */

    .portfolioProjects {
        /* display: flex;
        flex-direction: column; */
        z-index: 0;
    }

}


@media screen and (min-width: 481px) and (max-width: 767px) {

    /* .navRight,
    .nav,
    .navRight {
        flex-direction: column;
        font-size: small;
        line-height: .3rem;
    } */

    .navRight,
    .navLeft {
        font-size: .6em;
    }

    .footer,
    .footer2 {
        font-size: smaller;
    }

    .backgroundImg {
        object-fit: cover;
    }

    .portfolioProjects {
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 100%;
        height: 400px;
        padding: 0;
    }

    .aboutHeader {
        font-size: 3em;

    }

    .aboutText {
        width: 100%;
    }

    .aboutContainer {
        margin: 16px;
    }

    .michelleImg {
        /* width: 40%; */
        float: left;
        padding: 16px;
    }

    .homeAbout {
        margin: 16px;
    }

    .animateText {
        max-width: 450px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .animateText {
        max-width: 450px;
    }
}